.footer{
    width: 100%;
    display: flex;
    padding: 5%;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.redes img{
    padding: 15px 15px;   
}

.iamgen_linkedin {
    position: relative;
    top: 12px;

}

.logo_footer {
    position: relative;
    right: -50px;
}







